---    # -*-YAML-*-
extends: default

# exclude pseudo-vendored vars/snmp.yml to avoid reindenting
# 400+ lines of OID nonsense.
ignore: |
  .cache/
  .git/
  .github/
  .venv/
  molecule/*/tests/
  tasks/.#*
  vars/snmp.yml

rules:
  line-length:
    max: 160
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false

  comments:
    min-spaces-from-content: 1

  # ansible-lint's embedded yamllint requires this disabled.
  comments-indentation: disable

  document-start:
    present: true

  trailing-spaces: enable

  empty-lines:
    max: 2
    max-start: 0
    max-end: 1

  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  key-duplicates: enable

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  truthy:
    allowed-values: ['true', 'false']
    check-keys: true
