---
global:
  scrape_interval: "{{prometheus_scrape_interval}}"

scrape_configs:
{% for scrape in promfriends_scrapes %}
{{'  '}}{{scrape | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endfor %}
